* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px 80px;
  background-color: #f3f3f3;
}

.container {
  height: 91vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
  position: relative;
}

.page-hero {
  height: 30vh;
  background-color: #45dfb9;
}

.page-hero h1 {
  position: absolute;
  left: 1.2rem;
  top: 0.7rem;
  color: white;
  font-size: 2.2rem;
}

.add-item {
  position: absolute;
  right: 1.2rem;
  top: 1.4rem;
}

.btn {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  color: #45dfb9;
  font-weight: bold;
  background-color: #fff;
  font-size: 0.8rem;
}

input {
  padding: 7px;
  margin-right: 8px;
  border: none;
  border-radius: 6px;
}

.content {
  top: 20%;
  position: absolute;
  height: 100%;
  width: 100%;
}

.column {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 20%;
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 6px;
  overflow: hidden;
}

.card h3 {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  color: #45dfb9;
}

.item {
  background-color: white;
  width: auto;
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #45dfb9;
  color: #45dfb9;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.current {
  background-color: white;
  color: white;
}
